<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
	<v-app id='app'>
		<v-main>
			<!-- WEBSOCKET SERVER POPUP -->
			<v-dialog v-model="disconnectedFromWebSocket" width="40vw">
				<div class="text-h4">Waiting for WebSocket Connection...</div>
			</v-dialog>
			<!-- PRESEST TAB -->
			<v-container fluid v-if="activeTab == 'Presets'">
				<!-- CARD FOR EACH PRESET -->
				<v-flex d-flex>
					<v-layout wrap>
						<v-flex md4 v-for="(preset, title) in database.presets" :key="title" class="pa-2">
							<v-card :color="(title==activePreset) ? 'primary' : 'secondary'" @click="setPreset(title)">
								<v-card-title>{{title}}</v-card-title>
								<v-card-actions>
									<v-btn @click="editPreset(title)">Edit Preset</v-btn>
									<v-spacer></v-spacer>
								</v-card-actions>
							</v-card>
						</v-flex>
						<v-flex md12 class="pa-2">
							<v-btn color="primary" @click="startPresetCreation()" fluid>
								Create Preset
							</v-btn>
						</v-flex>
					</v-layout>
				</v-flex>
				<!--PRESET CREATION DIALOG-->
				<v-dialog v-model="presetCreationDialog" max-width="800px"
					:fullscreen="$vuetify.breakpoint.xsOnly ? true : false">
					<v-card>
						<v-card-title class="headline grey">
							{{editingPreset ? "Edit an Existing Preset" : "Create a New Preset"}}
						</v-card-title>

						<v-card-actions>
							<v-container>
								<v-text-field label="Name" v-model="newPreset.t" :disabled=editingPreset></v-text-field>
								<v-select label="Generator" :items="generatorTypes" v-model=newPreset.g></v-select>
								<v-form v-model="gradientForm">
									<v-container v-show=newPreset.g=='Gradient'>
										<v-slider v-model="newPreset.s" min=-10 max=10 step=0.1 label="Speed" thumb-label="always"
											:rules="rules">
										</v-slider>
										<v-slider v-model="newPreset.d" min=-10 max=10 step=0.1 label="Density" thumb-label="always"
											:rules="rules">
										</v-slider>
									</v-container>
								</v-form>
								<v-form v-model=particleForm>
									<v-container v-show="newPreset.g=='Particle'">
										<v-slider label="Number of Particles" thumb-label="always" v-model=newPreset.pC min=0 max=100
											:rules="rules">
										</v-slider>
										<v-slider label="Particle Lifetime" thumb-label="always" v-model="newPreset.pL" min=0.1 max=10
											:rules="rules" step=0.1>
										</v-slider>
										<v-slider label="Range of Influence" thumb-label="always" v-model=newPreset.ptR min=0 max=300
											:rules="rules">
										</v-slider>
										<v-row class="pb-8">
											<span>Fog Color: </span>
											<v-spacer></v-spacer>
											<v-color-picker hide-inputs dot-size="9" v-model=newPreset.fC></v-color-picker>
										</v-row>
										<v-slider label="Fog Threshold" thumb-label="always" v-model=newPreset.fT min=0.1 max=5 step=0.1
											:rules="rules">
										</v-slider>
										<v-select label="Intensity Method" :items="intensityMethods" v-model=newPreset.iM :rules="rules">
										</v-select>
										<v-select label="Color Method" :items="colorMethods" v-model=newPreset.cM :rules="rules"></v-select>
										<v-select label="Initial Position Method" :items="attributeInitMethods" v-model=newPreset.pI
											:rules="rules">
										</v-select>
										<v-slider label="Position" thumb-label="always" v-model="newPreset.pV" min=0 max=900
											v-show="newPreset.pI == 'Set'"></v-slider>
										<v-range-slider label="Position Range" thumb-label="always" v-model="newPreset.pR" min=0 max=900
											v-show="newPreset.pI == 'Random in Range'"></v-range-slider>
										<v-select label="Initial Velocity Method" :items="attributeInitMethods" v-model=newPreset.vI
											:rules="rules">
										</v-select>
										<v-slider label="Velocity" thumb-label="always" v-model="newPreset.vV" min=-20 max=20 step=0.1
											v-show="newPreset.vI == 'Set'"></v-slider>
										<v-range-slider label="Velocity Range" thumb-label="always" v-model="newPreset.vR" min=-20 max=20
											step=0.1 v-show="newPreset.vI == 'Random in Range'"></v-range-slider>
										<v-select label="Calculated Attribute" :items="AttributesToCalculate" v-model=newPreset.cA
											:rules="rules">
										</v-select>
										<v-select label="Calculation Method" :items="AttributeCalcMethods" v-model=newPreset.aM
											:rules="rules">
										</v-select>
										<v-slider v-show="newPreset.aM=='Constant'" label="Attribute Value" thumb-label="always"
											v-model=newPreset.aV :min="(newPreset.cA=='Position') ? 0 : -1"
											:max="(newPreset.cA=='Position') ? 900 : 1" step=0.01></v-slider>
										<v-range-slider v-show="newPreset.aM=='Scaled over Life'" label="Attribute Range"
											thumb-label="always" v-model=newPreset.aR :min="(newPreset.cA=='Position') ? 0 : -1"
											:max="(newPreset.cA=='Position') ? 900 : 1" step=0.01>
										</v-range-slider>
									</v-container>
								</v-form>
								<v-divider></v-divider>
								<v-row class="pt-8">
									<v-btn outlined color="accent"
										@click="presetCreationDialog=false; if(editingPreset) presetDeletionDialog = true">{{editingPreset ?
										"Delete Preset" : "Cancel"}}</v-btn>
									<v-spacer></v-spacer>
									<v-btn color="primary" text @click="createPreset(newPreset)"
										:disabled="newPreset.g=='Gradient' ? !gradientForm : !particleForm">
										{{editingPreset ? "Modify Preset" : "Create Preset"}}
									</v-btn>
								</v-row>
							</v-container>
						</v-card-actions>
					</v-card>
				</v-dialog>
				<!--PRESET DELETION DIALOG-->
				<v-dialog v-model="presetDeletionDialog" max-width=400px>
					<v-card>
						<v-card-title class="accent">
							Delete Preset?
						</v-card-title>
						<v-card-actions>
							<v-container>
								<v-row class="">
									<v-btn outlined color="primary" @click="presetCreationDialog=true; presetDeletionDialog=false">Cancel
									</v-btn>
									<v-spacer></v-spacer>
									<v-btn plain color="accent" @click="deletePreset(newPreset)">Confirm Delete</v-btn>
								</v-row>
							</v-container>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-container>
			<v-container v-if="activeTab == 'Palettes'">
				<!-- CARD FOR EACH PALETTE -->
				<v-flex d-flex>
					<v-layout wrap>
						<v-flex md4 v-for="(palette, title) in database.palettes" :key="title" class="pa-2">
							<v-card @click="setPalette(title)" class="" :style="{backgroundImage: getGradientString(palette)}"
								:outlined="title==activePalette">
								<v-card-title>{{title}}</v-card-title>
								<v-card-actions>
									<v-btn @click="editPalette(title)">Edit Palette</v-btn>
								</v-card-actions>
							</v-card>
						</v-flex>
						<v-flex md12 class="pa-2">
							<v-btn color="accent" @click="startPaletteCreation()">
								Create Palette
							</v-btn>
						</v-flex>
					</v-layout>
				</v-flex>
				<!--PALETTE CREATION DIALOG-->
				<v-dialog v-model="paletteCreationDialog" :fullscreen="$vuetify.breakpoint.xsOnly ? true : false"
					max-width=400px>
					<v-card>
						<v-card-title :style="{backgroundImage: getGradientString(newPalette.data)}">
							{{editingPalette ? "Edit an Existing Palette" : "Create a New Palette"}}
						</v-card-title>
						<v-card-actions>
							<v-container>
								<v-text-field label="Name" v-model="newPalette.title" :disabled=editingPalette></v-text-field>
								<v-row v-for="(color, index) in newPalette.data" :key="color">
									<v-color-picker canvas-height="100px" v-model="newPalette.data[index]" hide-inputs>
									</v-color-picker>
									<v-btn icon color="accent" @click="newPalette.data.splice(index, 1)">
										<v-icon>mdi-delete-outline</v-icon>
									</v-btn>
								</v-row>
								<v-btn outlined @click="addColor()" :disabled="newPalette.data.length>7">Add Color</v-btn>
								<v-row class="pt-8">
									<v-btn outlined color="accent"
										@click="paletteCreationDialog=false; if(editingPalette) paletteDeletionDialog = true">
										{{editingPalette ?
										"Delete Palette" : "Cancel"}}</v-btn>
									<v-spacer></v-spacer>
									<v-btn color="primary" @click="createPalette()"
										:disabled="newPalette.data.length<2 || newPalette.data.length>7">
										{{editingPalette ? "Modify Palette" : "Create Palette"}}
									</v-btn>
								</v-row>
							</v-container>
						</v-card-actions>
					</v-card>
				</v-dialog>
				<!--PRESET DELETION DIALOG-->
				<v-dialog v-model="paletteDeletionDialog" max-width=400px>
					<v-card>
						<v-card-title class="accent">
							Delete Palette?
						</v-card-title>
						<v-card-actions>
							<v-container>
								<v-row class="">
									<v-btn outlined color="primary" @click="paletteCreationDialog=true; paletteDeletionDialog=false">
										Cancel
									</v-btn>
									<v-spacer></v-spacer>
									<v-btn plain color="accent" @click="deletePalette(newPalette)">Confirm Delete</v-btn>
								</v-row>
							</v-container>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-container>
			<!--SETTINGS TAB-->
			<v-container v-show="activeTab == 'Settings'">
				<v-btn @click="requestDatabase(vm)">Request Database</v-btn>
				<v-text-field label="Websocket Address" v-model="websocketAddress"></v-text-field>
				<v-btn @click="connectWebsocket(vm, websocketAddress)">Manual Connect</v-btn>
			</v-container>
		</v-main>
		<v-bottom-navigation fixed v-model="activeTab" v-show="!presetCreationDialog">
			<v-btn value="Presets">
				<span>Presets</span>
				<v-icon>mdi-wrench</v-icon>
			</v-btn>
			<v-btn value="Palettes">
				<span>Palettes</span>
				<v-icon>mdi-palette</v-icon>
			</v-btn>
			<v-btn value="Settings">
				<span>Settings</span>
				<v-icon>mdi-settings</v-icon>
			</v-btn>
		</v-bottom-navigation>
	</v-app>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
	const vuetify = new Vuetify({
		theme: {
			dark: true,
		},
	})
	new Vue({
		el: '#app',
		vuetify: vuetify,
		name: 'App',
		components: {

		},
		created() {
			this.$vuetify.theme.dark = true
			this.vm = this
			this.requestDatabase(this.vm)

			this.connectWebsocket(this.vm, "ws://192.168.1.9:1337")


		},
		methods: {
			connectWebsocket(vm, address) {
				console.log("Starting connection to WebSocket Server: " + address)
				vm.connection = new WebSocket(address)

				vm.connection.onmessage = function (event) {
					console.log("Recieved: " + event.data)
				}

				vm.connection.onopen = function (event) {
					console.log(event.data)
					console.log("Successfully connected to the ESP32 websocket server")
					vm.disconnectedFromWebSocket = false
				}

				vm.connection.onerror = function (event) {
					console.log("ERROR: " + event.data)
				}

				vm.connection.onclose = function (event) {
					console.log(event.data)
					console.log("Disconnected from ESP32 websocket server")
					vm.disconnectedFromWebSocket = true
				}
			},
			sliderToSpeed(value) {
				return Math.pow(value / 20, 3)
			},
			sliderToDensity(value) {
				return Math.pow(value / 20, 3)
			},
			sendDatabase() {
				this.sendMessage("data: " + JSON.stringify(this.database))
			},
			requestDatabase(vm) {
				console.log("Requesting Database")
				fetch('database.json')
					.then(function (response) {
						return response.json()
					})
					.then(function (data) {
						vm.database = data
						console.log("Database recieved: ")
						console.log(vm.database)
					})
					.catch(function (err) {
						console.log(err)
					})
			},
			sendPalette(palette) {
				var preparedPalette = {}
				preparedPalette.colors = palette.map(convertToRGB)
				preparedPalette.length = preparedPalette.colors.length;
				this.sendMessage("palt: " + JSON.stringify(preparedPalette))
			},
			sendPreset(preset) {
				var preparedPreset = {}
				if (preset.g == "Gradient") {
					preparedPreset.generator = 0
					preparedPreset.rate = this.sliderToSpeed(preset.s).toFixed(5)
					preparedPreset.density = this.sliderToDensity(preset.d).toFixed(5)
				} else if (preset.g == "Particle") {
					preparedPreset.generator = 1
					preparedPreset.particleDecay = 1 / preset.pL
					preparedPreset.timerDecay = preset.pC / preset.pL / 100
					preparedPreset.particleDecay = 1 / preset.pL / 100
					preparedPreset.range = preset.ptR
					preparedPreset.fogColor = preset.fC
					preparedPreset.fogInfluence = preset.fT
					switch (preset.iM) {
						case 'Fade Out':
							preparedPreset.intensityMethod = 0
							break
						case 'Fade In':
							preparedPreset.intensityMethod = 1
							break
						case 'Fade In and Out':
							preparedPreset.intensityMethod = 2
							break
						case 'Pulse':
							preparedPreset.intensityMethod = 3
							break
					}
					switch (preset.cM) {
						case 'Age':
							preparedPreset.colorMethod = 0
							break
						case 'Intensity':
							preparedPreset.colorMethod = 1
							break
						case 'Influence':
							preparedPreset.colorMethod = 2
							break
						case 'Random':
							preparedPreset.colorMethod = 3
							break
					}
					switch (preset.pI) {
						case 'Set':
							preparedPreset.posMethod = 0
							preparedPreset.posValue1 = preset.pV
							preparedPreset.posValue2 = 0
							break
						case 'Random in Range':
							preparedPreset.posMethod = 1
							preparedPreset.posValue1 = preset.pR[0]
							preparedPreset.posValue2 = preset.pR[1]
							break
					}
					switch (preset.vI) {
						case 'Set':
							preparedPreset.velMethod = 0
							preparedPreset.velValue1 = preset.vV
							preparedPreset.velValue2 = 0
							break
						case 'Random in Range':
							preparedPreset.velMethod = 1
							preparedPreset.velValue1 = preset.vR[0]
							preparedPreset.velValue2 = preset.vR[1]
							break
					}
					switch (preset.cA) {
						case 'Position':
							preparedPreset.calculatedAttribute = 0
							break
						case 'Velocity':
							preparedPreset.calculatedAttribute = 1
							break
						case 'Acceleration':
							preparedPreset.calculatedAttribute = 2
							break
					}
					switch (preset.aM) {
						case 'Constant':
							preparedPreset.attributeMethod = 0
							preparedPreset.aValue1 = preset.aV
							preparedPreset.aValue2 = 0
							break
						case 'Scaled over Life':
							preparedPreset.attributeMethod = 1
							preparedPreset.aValue1 = preset.aR[0]
							preparedPreset.aValue2 = preset.aR[1]
							break
					}
					preparedPreset.aValue3 = 0
				}

				this.sendMessage("prst: " + JSON.stringify(preparedPreset))
			},
			setPreset(presetName) {
				this.activePreset = presetName
				this.sendPreset(this.database.presets[this.activePreset])
			},
			startPresetCreation() {
				this.newPreset = {
					s: 50, //speed
					d: 50, //density
					t: "", //title
					g: "", //generator
					pC: 0, //particle count
					pL: 0, //particle life
					ptR: 0, //particle range
					fC: {}, //fog color
					fT: 0, //fog threshhold
					iM: '',    //intensity method
					cM: '', //color method
					pI: '', //pos init method
					pV: 0, //pos value
					pR: [-1, 1], //pos range
					vI: '', //velocity init method
					vV: 0, //velocity value
					vR: [-1, 1], //velocity range
					cA: '', //calculated attribute
					aM: '', //attribute method
					aV: 0, //attribute value
					aR: [-1, 1], //attribute range
				}
				console.log("hello")
				this.presetCreationDialog = true
			},
			editPreset(presetName) {
				console.log("Now Editing preset: " + presetName)
				this.newPreset = JSON.parse(JSON.stringify(this.database.presets[presetName]))
				// delete this.database.presets[presetName]
				this.editingPreset = true
				this.presetCreationDialog = true
			},
			createPreset(nPre) {
				var tempTable = JSON.parse(JSON.stringify(nPre))
				tempTable.fC.rgba ? tempTable.fC = tempTable.fC.rgba : tempTable.fC = tempTable.fC
				this.database.presets[nPre.t] = tempTable
				this.presetCreationDialog = false
				this.editingPreset = false
				this.setPreset(nPre.t)
				this.sendDatabase()
			},
			deletePreset(preset) {
				delete this.database.presets[preset.t]
				this.presetDeletionDialog = false
				this.editingPreset = false
				this.sendDatabase()
			},
			setPalette(paletteName) {
				this.activePalette = paletteName
				this.sendPalette(this.database.palettes[paletteName])
			},
			startPaletteCreation() {
				this.newPalette = { title: "", data: ["#FF0000", "#0000FF"] }
				this.paletteCreationDialog = true
			},
			addColor() {
				this.newPalette.data.push("#0000FF")
			},
			colorUpdated(event) {
				Vue.set(this.newPalette.data, this.colorIndex, event.target.value)
				console.log(this.newPalette.data)
			},
			createPalette() {
				this.database.palettes[this.newPalette.title] = this.newPalette.data
				this.paletteCreationDialog = false
				this.editingPalette = false
				this.setPalette(this.newPalette.title)
				this.sendDatabase()
			},
			deletePalette(palette) {
				delete this.database.palettes[palette.title]
				this.paletteDeletionDialog = false
				this.editingPalette = false
				this.sendDatabase()
			},
			editPalette(paletteTitle) {
				this.newPalette.title = paletteTitle
				this.newPalette.data = this.database.palettes[paletteTitle]
				this.editingPalette = true
				this.paletteCreationDialog = true
			},
			sendMessage(message) {
				console.log("Sent: " + message)
				this.connection.send(message)
			},
			getGradientString(palette) {
				return "linear-gradient(30deg," + palette.toString() + ")"
			}
		},
		data() {
			return {
				generatorTypes: ['Gradient', 'Particle'],
				intensityMethods: ['Fade In', 'Fade Out', 'Fade In and Out'],
				colorMethods: ['Age', 'Intensity', 'Influence', 'Random'],
				attributeInitMethods: ['Set', 'Random in Range'],
				AttributesToCalculate: ['Position', 'Velocity', 'Acceleration'],
				AttributeCalcMethods: ['Constant', 'Scaled over Life'],
				rules: [x => !!x],
				rangeRules: [x => !!x[0] && !!x[1]],
				gradientForm: false,
				particleForm: false,
				ESP32LED: false,
				websocketAddress: "ws://192.168.0.21:1337",
				disconnectedFromWebSocket: true,
				connection: null,
				newPreset: {},
				newPalette: { title: "", data: ["#FF0000", "#0000FF"] },
				colorIndex: 0,
				presetCreationDialog: false,
				presetDeletionDialog: false,
				editingPreset: false,
				paletteCreationDialog: false,
				paletteDeletionDialog: false,
				editingPalette: false,
				activePreset: 'Simple Gradient',
				activePalette: 'Test',
				activeTab: 'presets',
				database: { presets: {}, palettes: {} }
			}
		}
	})
	convertToRGB = function (hexString) {
		if (hexString.length != 7) {
			throw "Only six-digit hex colors are allowed.";
		}

		hexString = hexString.substring(1);
		var aRgbHex = hexString.match(/.{1,2}/g);
		var aRgb = [
			parseInt(aRgbHex[0], 16),
			parseInt(aRgbHex[1], 16),
			parseInt(aRgbHex[2], 16)
		];
		return aRgb;
	}

</script>